// // google font import
@import url("https://fonts.googleapis.com/css?family=Lato:100,400,900&display=swap");

// variable imports  //////////////////////////////////
@import "variables.scss";

// grid layout  //////////////////////////////////
// * {
//   box-sizing: border-box;
// }

// mixin imports  //////////////////////////////////

// app styling acting as body styling.
.App {
  font-family: "Lato", sans-serif;
  height: 2000px;
  width: 100%;
  max-width: 1000px;
  min-width: 400px;
  margin: 0 auto;
  padding: 0 auto;
}
// h1's p's etc. going back through and giving them all classnames.
.nav-h1 {
  display: flex;

  color: $primary-blue;
}
p {
  color: $primary-blue;
}

// Nav  //////////////////////////////////
// nav-main
.nav-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  line-height: 25px;
  width: 100%;
  padding: 10px;
}

// BUTTONS  //////////////////////////////////
// navigation buttons
.nav-button {
  text-align: center;
  font-size: 16px;
  padding: 15px 45px;
  margin: 5px;
  border: 2px solid $primary-coral;

  // nav-button text //////////////////////////
  .btn-text {
    color: $primary-coral;
  }
}

// back to home button //////////////////////////
.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: $primary-coral;
  padding: 10px 50px;
  margin: 10px;
  ///////////// back to home button text
  .btn-home-text {
    color: $off-white;
  }
}

// links for the nav and back btns  //////////////////////////////////
.link {
  text-decoration: none !important;
}
// About, home, contact
