// variable imports  //////////////////////////////////
@import "../styles/variables.scss";
// /* Color Theme Swatches in Hex */
// $primary-coral: #d26363;
// $secondary-coral: #d2a8aa;
// $primary-blue: #0e2a38;
// $secondary-blue: #304753;
// $tri-coral: #cf7e83;
// $off-white: #efeae8;

// mixin imports  //////////////////////////////////

// contact body
.contact-body {
  border: 2px solid $off-white;
  border-radius: 8px;
}
.contact-container {
  padding: 5%;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $off-white;
  border-radius: 8px;
  padding: 5%;
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.label-1 {
  padding: 5px;
}
.input-1 {
  padding: 20px 20px 0px 20px;
  // -webkit-appearance: none;
  // box-shadow: none !important;
  background-color: $off-white;
  border-bottom: 5px solid $tri-coral;
  // padding-bottom: 0px;
}
.label-2 {
  padding: 5px;
}
.input-2 {
  padding: 20px 20px 0px 20px;
}
.label-3 {
  padding: 5px;
}
.input-3 {
  padding: 20px 20px 0px 20px;
}
