// variable imports  //////////////////////////////////
@import "../styles/variables.scss";
// /* Color Theme Swatches in Hex */
// $primary-coral: #d26363;
// $secondary-coral: #d2a8aa;
// $primary-blue: #0e2a38;
// $secondary-blue: #304753;
// $tri-coral: #cf7e83;
// $off-white: #efeae8;

// mixin imports  //////////////////////////////////

// home body
.home-body {
  border: 2px solid $off-white;
  border-radius: 8px;
  padding: 5%;
  margin: 1%;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $off-white;
  border-radius: 8px;
  padding: 5%;
}
